* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: solid 1px blue;
  width: 6%;
  margin: 8px;
}

/*---------- Header----------- */

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
}

.flex-nav {
  display: flex;
  align-items: flex-end;
}

.flex-nav a,
h3 {
  padding: 15px;
  text-decoration: none;
  color: black;
}

/*---------- Welcome----------- */

.welcome {
  max-width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 29px;
}

.card-body {
  border: 1px solid black;
  border-radius: 10px;
  background-color: gray;
  padding: 7px;
}

.body-picture img {
  width: 100%;
  padding: 10px;
}

.content-card {
  display: flex;
  justify-content: space-between;
}

.card-col {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 48px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/*---------- Apropos----------- */

.about {
  max-width: 75%;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 29px;
}

.content-about {
  margin-top: 48px;
  display: flex;
  justify-content: space-around;
}

.left-about {
  width: 50%;
}

.right-about {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer {
  background-color: #5990bf;
  width: 100%;
  height: 8vh;
  text-align: center;
}

footer > p {
  padding-top: 20px;
  padding-bottom: 12px;
}
